@model RPPP_WebApp.Models.ZaduzenaOsoba

@{
    ViewBag.Title = "Novo zaduženje";
}

<form asp-action="Create" method="post">

    <td class="text-start">
        <label asp-for="IdOsoba"></label>
        <span asp-validation-for="IdOsoba" class="text-danger"></span>
        <input asp-for="IdOsoba" class="form-control"/>
    </td>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">
            Odustani
        </a>
    </div>

</form>

@section scripts {
    <partial name="IncludeValidation"/>
}