@model RPPP_WebApp.Models.VrstaProjekta


<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-left">@Model.Naziv</td>
    <td>
        <a asp-action="Edit"
           asp-route-id="@Model.IdVrstaProjekta"
           class="btn btn-sm"
           title="Ažuriraj">
            <i class="fas fa-edit"></i>
        </a>
    </td>
    <td>
        <button class="btn-danger btn btn-sm" hx-confirm="Obrisati vrstu projekta?" hx-delete="@Url.Action(nameof(VrstaPoslaController.Delete), new { id = Model.IdVrstaProjekta })">
            <i class="fas fa-trash-alt"></i>
        </button>
    </td>

</tr>