@model Racun

<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-left">@Model.ImeRacuna</td>
    <td class="text-left">@Model.Iban</td>
    <td class="text-left">@Model.IdValutaNavigation.IsoOznaka</td>
</tr>