@model RPPP_WebApp.Models.Racun

<ul style="list-style-type:none;">
    <li class="text-left">Naziv: @Model.ImeRacuna</li>
    <li class="text-left">IBAN: @Model.Iban</li>
    <li class="text-left">Valuta: @Model.IdValutaNavigation.IsoOznaka</li>
</ul>


