@{
    ViewData["Title"] = "Emil izvjestaji";
}

<h4>Izvještaji u PDF-u</h4>
<ul>
    <li>
        <a target="_blank" asp-action="Racun">Popis svih računa</a>
    </li>
    <li>
        <a target="_blank" asp-action="Valuta">Popis valuta</a>
    </li>
    <li>
        <a target="_blank" asp-action="Transakcija">Popis transakcija</a>
    </li>
    <li>
        <a target="_blank" asp-action="VrstaTransakcije">Popis vrsta transakcija</a>
    </li>
    <li>
        <a target="_blank" asp-action="MDRacuni">MD popis računa i transakcija</a>
    </li>
</ul>

<h4>Izvještaji u Excelu</h4>
<ul>
    <li>
        <a target="_blank" asp-action="ExcelSimpleRacun">Popis svih računa</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleValuta">Popis valuta</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleTransakcija">Popis transakcija</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleVrstaTransakcije">Popis vrsta transakcija</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelComplexRacun">MD popis računa i transakcija</a>
    </li>
</ul>