<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">RPPP Homework - Group 09</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
        </li>      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Student 16
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link" asp-action="Index" asp-controller="PosaoMD">Posao (STP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="Posao">Posao (JTP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="VrstaPosla">Vrsta posla (JTP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="Suradnik">Suradnik (JTP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="VrstaSuradnika">Vrsta suradnika (JTP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="PosaoMDReport">Izvjestaji</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Student 17
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="nav-link" asp-action="Index" asp-controller="RacunMD">Racun (STP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="Racun">Racun (JTP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="Valuta">Valuta (JTP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="Transakcija">Transakcija (JTP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="VrstaTransakcije">Vrsta transakcije (JTP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="RacunMDReport">Izvještaji</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Student 13
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="nav-link" asp-action="Index" asp-controller="ProjektMD">Projekt (STP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="Projekt">Projekt (JTP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="VrstaProjekta">Vrsta projekta (JTP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="Dokument">Dokument (JTP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="KategorijaDokumenta">Kategorija dokumenta (JTP)</a></li>
                        <li><a class="nav-link" asp-action="Index" asp-controller="ProjektMDReport">Izvjestaji</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Student 43
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link" asp-action="Index" asp-controller="ZadatakMDV2">Zadatak (STP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="ZadatakV2">Zadatak (JTP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="VrstaZadatkaV2">Vrsta zadatka (JTP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="OsobaV2">Osoba (JTP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="UlogaV2">Uloga (JTP)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="ZadatakMDReport">Izvjestaji</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Student 49
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="nav-link" asp-action="Index" asp-controller="ZahtjevMD">Zahtjev (STP)</a></li>
              <li><a class="nav-link" asp-action="Index" asp-controller="Zahtjev">Zahtjev (JTP)</a></li>
              <li><a class="nav-link" asp-action="Index" asp-controller="VrstaZahtjeva">Vrsta zahtjeva (JTP)</a></li>
              <li><a class="nav-link" asp-action="Index" asp-controller="Zadatak">Zadatak (JTP)</a></li>
              <li><a class="nav-link" asp-action="Index" asp-controller="ZaduženaOsoba">Zadužena Osoba (JTP)</a></li>
          </ul>
        </li>
    </ul>
    

     
    </div>
  </div>
</nav>