@{
    ViewData["Title"] = "Josip izvjestaji";
}
<h3>Izvjestaj u PDF-u</h3>
<ul>
    <li>
        <a target="_blank" asp-action="Projekt">Popis svih projekata</a>
    </li>
    <li>
        <a target="_blank" asp-action="VrstaProjekta">Popis vrsta projekata</a>
    </li>
    <li>
        <a target="_blank" asp-action="Dokument">Popis dokumenata</a>
    </li>
    <li>
        <a target="_blank" asp-action="KategorijaDokumenta">Popis kategorija dokumenata</a>
    </li>
    <li>
        <a target="_blank" asp-action="MDProjekti">Projekti MD</a>
    </li>
</ul>
    
<h3>Izvjestaji Excelu</h3>
<ul>
    <li>
        <a target="_blank" asp-action="ExcelProjekt">Projekti</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelVrstaProjekta">Vrste projekata</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelDokument">Dokumenti</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelKategorijaDokumenta">Kategorije dokumenata</a>
    </li>
</ul>