@{
    ViewData["Title"] = "Mirta izvjestaji";
}

<ul>
    <li>Izvjestaji u PDF-u</li>
    <li>
        <a target="_blank" asp-action="Zadatak">Popis svih zadataka</a>
    </li>
    <li>
        <a target="_blank" asp-action="VrstaZadatka">Popis vrsta zadataka</a>
    </li>
    <li>
        <a target="_blank" asp-action="Osoba">Popis osoba</a>
    </li>
    <li>
        <a target="_blank" asp-action="Uloga">Popis uloga</a>
    </li>
    <li>
        <a target="_blank" asp-action="MDZadaci">Zadaci MD</a>
    </li>
    <li>Izvjestaji u Excelu</li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleZadatak">Zadatak</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleVrsteZadataka">Vrste zadataka</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleOsoba">Osobe</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleUloga">Uloge</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelComplexZadatak">MD Zadaci</a>
    </li>
</ul>
