@model Zahtjev

<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-left">@Model.IdZahtjev</td>
    <td class="text-left">@Model.IdVrsteZahtjeva</td>
    <td class="text-left">@Model.Naziv</td>
</tr>