@{
  ViewData["Title"] = "Josip izvjestaji";
}

<ul>
    <li>Izvjestaj u PDF-u</li>
    <li>
        <a target="_blank" asp-action="Posao">Popis svih poslova</a>
    </li>
    <li>
        <a target="_blank" asp-action="VrstaPosla">Popis vrsta poslova</a>
    </li>
    <li>
        <a target="_blank" asp-action="Suradnik">Popis suradnika</a>
    </li>
    <li>
        <a target="_blank" asp-action="VrstaSuradnika">Popis vrsta suradnika</a>
    </li>
    <li>
        <a target="_blank" asp-action="MDPoslovi">Poslovi MD</a>
    </li>
    <li>Izvjestaji Excelu</li>
    <li>
        <a target="_blank" asp-action="ExcelSimplePosao">Posao</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleVrstePoslova">Vrste poslova</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleSuradnik">Suradnici</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleVrstaSuradnika">Vrste suradnika</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelComplexPosao">MD Poslovi</a>
    </li>
</ul>