@model RPPP_WebApp.Models.VrstaZahtjeva


<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-left">@Model.NazivVrsteZahtjeva</td>
    <td>
        <a asp-action="Edit"
           asp-route-id="@Model.IdVrsteZahtjeva"
           class="btn btn-sm"
           title="Ažuriraj">
            <i class="fas fa-edit"></i>
        </a>
    </td>
    <td>
        <button class="btn-danger btn btn-sm" hx-confirm="Obrisati vrstu zahtjeva?" hx-delete="@Url.Action(nameof(VrstaZahtjevaController.Delete), new { id = Model.IdVrsteZahtjeva })">
            <i class="fas fa-trash-alt"></i>
        </button>
    </td>

</tr>